<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Producter</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<header th:insert="templatePages/header::header"></header>
<main>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6 col-md-10">
      <h2 th:text="${order.getOrderDate()}" class="text-center"></h2>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between" th:each="prod:${order.getProductsList()}" >

          <div class="d-flex align-items-center w-100" >
            <input type="checkbox" th:name="${prod.getId()}" th:id="${prod.getId()}" checked th:if="${prod.isBought()}" style="transform: scale(2)" th:onclick="'checkProduct('+${prod.getId()}+')'"/>
            <input type="checkbox" th:name="${prod.getId()}" th:id="${prod.getId()}" th:unless="${prod.isBought()}" style="transform: scale(2)" th:onclick="'checkProduct('+${prod.getId()}+')'"/>
            <label  th:for="${prod.getId()}" class="w-100 d-flex justify-content-between ms-3">
              <span onclick="rename(event)">
                <input type="text" th:value="${prod.getName()}" style="border: 0" th:onfocusout="'saveName(' +${prod.getId()}+')'"/>
              </span>
              <span th:text="${prod.getAmount()}"></span>
            </label>

          </div>
          <button class="btn btn-outline-dark ms-3" th:onclick="'removeItem(' +${prod.getId()} + ',event)'">
            -
          </button>

        </li>
        <li class="mt-3">
          <form method="get" th:onsubmit="'addProduct(' +${order.getId()} +',event)'">
            <div class="input-group">
              <input type="text" name="name" id="name" class="form-control w-50" placeholder="Продукт"/>
              <input type="text" name="amount" id="amount" class="form-control " placeholder="к-сть"/>
              <input type="submit" value="+" class="form-control"/>
            </div>

          </form>
        </li>
      </ul>
    </div>
  </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
  async function addProduct(order,e){
    e.preventDefault();
    console.log(order);
    let param1 = document.getElementById("name").value;
    let param2 = document.getElementById("amount").value;

    document.getElementById("name").value = "";
    document.getElementById("amount").value = "";

    let body = {
      "param1":param1,
      "param2":param2,
      "param3":order
    };
    console.log(body);
    let resp = await fetch("/products/add",{
      method:"POST",
      body:JSON.stringify(body),
      headers:{
        'Content-Type': 'application/json',
      }
    })
            .then(res=>res.json())
            .then(result=>{
              let elem = document.getElementsByClassName("list-group");
              let elemCopy = elem.item(0).children.item(0).cloneNode(true);
              elemCopy.getElementsByTagName("span").item(0).innerText = result.name;
              elemCopy.getElementsByTagName("span").item(1).innerText = result.amount;

              elemCopy.getElementsByTagName("input").item(0).name=result.id;
              elemCopy.getElementsByTagName("input").item(0).id=result.id;
              elemCopy.getElementsByTagName("input").item(0).checked = false;

              elemCopy.getElementsByTagName("div").item(0).setAttribute("onclick",'checkProduct('+ result.id+')');

              elemCopy.getElementsByTagName("button").item(0).setAttribute("onclick",'removeItem(' +result.id + ',event)')

              console.log(elemCopy.getElementsByTagName("label").item(0));
              elemCopy.getElementsByTagName("label").item(0).setAttribute("for",result.id);

              let length = elem.item(0).children.length;
              elem.item(0).children.item(length-2).insertAdjacentElement("afterend",elemCopy);
              console.log(elemCopy);
            })
            .catch(error=>console.log(error));
  }

  async function checkProduct(id){
    console.log(id);
    let checked = !document.getElementById(id).checked;
    let resp = await fetch("/products/check/"+id +"?isChecked="+checked,{
      headers:{
        'Content-Type': 'application/json',
      },
      method:"POST"
    })
            .then(res=>res.json())
            .then(resp=>console.log(resp))
            .catch(error=>console.log(error));
  }

  setInterval(check,5000);

  async function check(){
    let id = [[${order.getId()}]];

    let resp = await fetch("/products/selected?orderId="+id,{
      method:"POST",
      headers:{'Content-Type': 'application/json'}

    })
            .then(res=>res.json())
            .then(response=>{
              let inputs = document.querySelectorAll("input");
              for (const input of inputs) {
                input.checked = Array.from(response).includes(+input.id);
              }
            })
            .catch(error=>console.log(error));


    //console.log(inputs);
  }

  async function removeItem(id,event){
      let resp = await fetch("/products/remove/"+id,{
      method:"POST",
      headers:{'Content-Type': 'application/json'}
    })
            .then(res=>res.json())
            .then(resp=>{
              if(resp===true){
                event.target.parentNode.remove();
              }

            })
            .catch(error=>console.log(error));


  }

  function rename(event){
    event.stopPropagation();
    console.log("asd");
  }

  async function saveName(id){


    let elem = document.querySelector(`label[for='${id}'] input`);
    let text = elem.value;
    let resp = await fetch("/products/rename/" + id + "?name="+text,{
      method:"POST",
      headers:{'Content-Type': 'application/json'},
      //body:JSON.stringify({"param1":text})
    })
            .then(res=>res.json())
            .then(resp=>{
              if(resp===true){
                elem.value = text;
              }
            })
            .catch(error=>console.log(error));
  }

</script>
</body>
</html>